.App {
    margin: 0;
    height: 100%;
  }
  
  .divPai{
    margin: 0;
    height: 100%;
    position: relative;
    background-image: url("https://images.alphacoders.com/982/thumb-1920-982681.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .container-pai{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  
  .conteudo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #343a40;
    background-image: linear-gradient(315deg, #384855 0%, #1d2024 74%);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    margin: 1%;
    width: 535px;
    min-width: 240px;
    height: auto;
  }
  
  #header-heroi{
    text-align: center;
    color: aliceblue;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    width: 100%;
    height: 10%;
  }
  
  #texto-header{
    padding-top: 5px;
    font-weight: 600;
    font-style: oblique;
  }
  
  #img-heroi{
    height: 90%;
    width: 45%;
  }
  
  #img-border{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25%;
    border-radius: 10%;
    width: 220px;
    height: 140px;
  }
  
  .infos-heroi{
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 90%;
    width: 55%;
  }
  
  .divEncapsulamento{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  
  .skill-img{
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 20%;
  }
  
  #texto-infos{
    font-size: 14px;
    font-weight: 400;
    width: 70%;
    height: 100%;
    padding-top: 15px;
  }
  
  .footer{
    position: relative; 
    bottom:0; 
    width: 100%;
  }
  
  @media  (min-height: 1366px) and (min-width: 1024px){
  
    #img-heroi{
      height: auto;
      width: 100%;
    }
  
    .infos-heroi{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      height: auto;
      width: 100%;
      margin-bottom: 5px;
    }
  
    #img-border{
      margin-top: 7px;
      margin-left: 13%;
      margin-bottom: 20px;
    }
  
    #header-heroi{
      height: 5%;
    }
  
    .skill-img{
      padding: 5px;
      width: 50px;
      height: 50px;
      margin-left: 3%;
    }
    
  }
  
  @media (max-width: 1330px){
  
    .conteudo{
      width: 278px;
    }
  
    #img-heroi{
      height: auto;
      width: 100%;
    }
  
    .infos-heroi{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      height: auto;
      width: 100%;
      margin-bottom: 5px;
    }
  
    #img-border{
      margin-top: 7px;
      margin-left: 13%;
      margin-bottom: 20px;
    }
  
    #header-heroi{
      height: 5%;
    }
  
    .skill-img{
      padding: 5px;
      width: 50px;
      height: 50px;
      margin-left: 3%;
    }
  
  }
  
  @media (max-width: 280px){
  
    .conteudo{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  
    #header-heroi{
      height: 5%;
    }
    
    #img-heroi{
      height: auto;
      width: 100%;
    }
  
    #img-border{
      margin-top: 7px;
      margin-left: 10%;
      margin-bottom: 20px;
    }
  
    .infos-heroi{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      height: auto;
      width: 100%;
      text-align: center;
      margin-right: -30px;
      margin-bottom: 5px;
    }
  
    .divEncapsulamento{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
    }
  
    .skill-img{
      margin-left: 42%;
  
    }
  
    #texto-infos{
      width: 100%;
    }
  
  }